
button {
    position: relative;
    
    transition: 0.25s filter;
    background-color: var(--accent-default);
    background: linear-gradient(0deg, var(--accent-dark) 50%, var(--accent-default) 51%);
    border-radius: var(--roundness);
    box-shadow: var(--shadow-highlight), var(--shadow-smooth);
    border: none;
    font-size: 1rem;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: fit-content;
    width: fit-content;
    gap: 0.25rem;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}

button:hover {
    transition: 0.25s filter;
    filter: brightness(150%);
}

button.active {
    transition: 0.25s;
    background-color: var(--accent-default);
}

button.round {
    border-radius: 50%;
    padding: 0rem;
    width: 2rem;
    aspect-ratio: 1;
}

button.square {
    border-radius: var(--roundness);
    padding: 0rem;
    width: 2rem;
    aspect-ratio: 1;
}

button, button * {
    user-select: none;
    cursor: pointer;
}