
.collapse {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;

    box-shadow: var(--shadow-highlight), var(--shadow-smooth);
    background-color: var(--highlight);
    background: linear-gradient(-15deg, #00000000 -20%, var(--general-dark) 100%);

    border-radius: var(--roundness);
    padding-bottom: 1rem;
}

.collapse.closed {
    padding: 0rem;
}

.collapse.closed>* {
    display: none;
    padding: 0rem;
}

.collapse>* {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0rem;
}

.collapse>*:first-child {
    transition: 0.5s filter;

    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin: 0rem;
    margin-bottom: 0.5rem;

    /* background-color: var(--accent-dark); */
    background: linear-gradient(-45deg, var(--accent-dark) 0%, var(--accent-default) 100%);
    box-shadow: var(--shadow-highlight);
    border-top-left-radius: var(--roundness);
    border-top-right-radius: var(--roundness);
}

.collapse.closed>*:first-child {
    margin: 0rem;
    border-radius: var(--roundness);
}

.collapse>*:first-child:hover {
    transition: 0.5s filter;
    cursor: pointer;
    filter: brightness(140%) hue-rotate(-10deg) saturate(120%);
}

.collapse>*:first-child>hr {
    border-color: var(--text-default);
}

.collapse.closed>*:first-child>hr {
    animation: test 0.5s forwards;
}

.collapse.open>*:first-child>hr {
    animation: test2 0.5s forwards;
}

.collapse>*:first-child>* {
    color: var(--text-default);
}

@keyframes test {
    0% {
        width: 100%;
    }
    100% {
        width: 0%;
    }
}

@keyframes test2 {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}