
/* .slider input[type="range"] {
    height: 0.5rem;
    width: 10rem;

    border-radius: var(--roundness);
    background: var(--transluscent);
}

.slider input[type="range"]::-webkit-slider-thumb {
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem;
    
    transition: 0.25s filter;
    -webkit-appearance: none;
    border: none;
    background: var(--accent-default);
    border-radius: var(--roundness);
    box-shadow: var(--shadow-highlight), var(--shadow-smooth);
}

.slider input[type="range"]::-webkit-slider-thumb:hover {
    transition: 0.25s filter;
    cursor: pointer;
    filter: brightness(140%) hue-rotate(-10deg) saturate(120%);
} */

.slider{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
}

.slider wa-slider {
    width: 10rem ;
}