
wa-slider::part(slider) {
    /* padding-left: 0.75rem;
    padding-right: 0.75rem; */
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
}

wa-slider span {
    color: var(--text-muted);
}

wa-slider::part(track) {
    background-color: var(--transluscent);
}

wa-slider::part(thumb) {
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem;
    
    transition: 0.25s filter;
    border: none;
    background: var(--accent-default);
    border-radius: var(--roundness);
    box-shadow: var(--shadow-highlight), var(--shadow-smooth);
}

wa-slider::part(thumb):hover {
    transition: 0.25s filter;
    cursor: pointer;
    filter: brightness(140%) hue-rotate(-10deg) saturate(120%);
}

wa-slider::part(indicator) {
    background-color: var(--accent-default);
}

/* --- */