
body {
    height: 100dvh;
    width: 100dvw;
    background: linear-gradient(0deg, var(--background-dark) 0%, var(--background-light) 100%);
    box-shadow: 0rem 0rem 0.5rem var(--shadow) inset;

    animation-name: test;
    animation-duration: 1s;

    display: grid;
    grid-template-areas: 'm c';
    grid-template-columns: 30rem 1fr;
    grid-template-rows: 1fr;
}

aside {grid-area: m;}
main {grid-area: c;}

@keyframes test {
    0% {
        background-position: 50% 50%;
    }
    100% {
        background-position: 0% 0%;
    }
}

/* --- */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 1rem;
    background: radial-gradient(circle, var(--accent-default) 0%, #ffffff00 60%);
    /* background: radial-gradient(at 67% 79%, #64FFDA, transparent 70%), radial-gradient(at 16% 50%, #7C4DFF, transparent 70%), radial-gradient(at 67% 21%, #18FFFF, transparent 70%), #0A1F2E; */
    /* background: radial-gradient(at center bottom, #ABF5F442 0%, #01010100 100%); */
}

canvas {
    width: calc(100% - 1rem);
    height: calc(100% - 1rem);

    border-radius: var(--roundness);
    box-shadow: var(--shadow-smooth), var(--shadow-sharp), var(--shadow-highlight);

    background-image: url(../assets/images/mesh.png);
    background-size: 4px;
    image-rendering: pixelated;
}

/* --- */

aside {
    display: flex;
    flex-direction: column;
    padding: 0rem;

    overflow-y: auto;
    scrollbar-color: var(--highlight) #00000000;

    background-image: url(../assets/images/dither.png);
    background-blend-mode: darken;
    background-size: 4px;
    image-rendering: optimizeSpeed;

    background-color: var(--transluscent);
    box-shadow: var(--shadow-smooth);
    border-right: 0.25rem solid var(--shadow);
}

aside>header {
    /* background-color: var(--transluscent); */
    background: linear-gradient(15deg, var(--transluscent) 0%, #00000000 200%);
    box-shadow: var(--shadow-sharp);
}

/* --- */

@media screen and (max-width: 600px) {
    body {
        display: grid;
        grid-template-areas: 'c' 'm';
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr;
    }

    aside {
        border-right: none;
        border-top: 0.25rem solid var(--shadow);
    }
}